.map {
  width: 100%;
  max-width: 480px;
  height: auto;
}
.vid-box {
  position: relative;
  display: block;
  width: 100%;
  max-width: 480px;
  height: 240px;
  background-color: #efefef;
}
.status {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: red;
}